body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
}

#banner {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 17px; /* Adjust this padding if necessary */
}

#banner p {
    margin: 0;
    flex-grow: 1;
}

#banner a {
    color: #007bff;
    text-decoration: none;
}

#banner a:hover {
    text-decoration: underline;
}

#close-banner {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 20px;
    color: #333;
}

#close-banner:hover {
    color: #000;
}

header {
    padding-top: 60px; /* Adjust for banner height */
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px 0;
    margin: 0;
}

h1 {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px 0;
    margin: 0;
}

select {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

#skybox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.skybox-item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    transition: transform 0.2s;
}

.skybox-item:hover {
    transform: scale(1.05);
}

.skybox-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skybox-item h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #e0e0e0;
}

.skybox-item a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.skybox-item a:hover {
    background-color: #0056b3;
}

#details-container {
    display: none;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

#details-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

#details-container img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#details-container p {
    font-size: 1em;
    color: #b0b0b0;
    margin-bottom: 20px;
}

#details-container a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

#details-container a:hover {
    background-color: #0056b3;
}

#license-info {
    margin-top: 20px;
}

#license-info img {
    margin-right: 10px;
    vertical-align: middle;
}

#license-info a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    padding:0px 0px;
}

#license-info a:hover {
    text-decoration: underline;
    background-color: transparent;
}

#preview-container {
    width: 100%;
    height: 350px;
    border: 1px solid #333;
    margin-top: 20px;
}

#contact-info {
    margin: 20px 0;
    padding: 10px;
}

#contact-info p {
    margin: 0;
}

#contact-info a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
}

#contact-info a:hover {
    color: #0056b3;
}

#contact-info i {
    margin-right: 5px;
}

/* Table Styling */
#details-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#details-container table, th, td {
    border: 1px solid #333;
}

#details-container th, td {
    padding: 10px;
    text-align: center;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

#details-container th {
    background-color: #333;
}