/* Sidebar styles */
.sidebar {
    flex: 0 1 15%;
    min-width: 200px;
    max-width: 250px;
    padding: 20px;
    background-color: #1f1f1f;
    border-right: 1px solid #333;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Sidebar headings and filters */
.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #e0e0e0;
}

.sidebar select {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}


.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
