<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
        <title>{{ page.title }}</title>
        <meta name="google-site-verification" content="NImwMdJbb2ijf2OZO9JHb7qb5jnp7rd5F5DrkEiuCNs" />
        <meta name="description" content="A collection of custom high-quality skyboxes created by Jacob Robbins designed for Source Engine games like Garry's Mod, Half-Life 2, and Team Fortress 2">
        <meta name="keywords" content="skyboxes, Jacob Robbins, Source, game development, environment, skybox, gmod, garry's mod, source engine, firegod522, hdr, Team Fortress, tf2, custom skybox, hl2, valve">
        <meta name="author" content="Jacob Robbins">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="Explore the best skyboxes for your source engine projects, created by Jacob Robbins.">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:card" content="summary_large_image">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/skybox-grid.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/buttons.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/footer-style.css' | relative_url }}">
        
        {% if page.layout == "skybox" %}
        <link rel="stylesheet" href="{{ '/assets/css/skybox-details.css' | relative_url }}">
        {% endif %}
        
        <script type="text/javascript">
            var elm=document.getElementsByTagName("html")[0];
            elm.style.display="none";
            document.addEventListener("DOMContentLoaded",function(event) {elm.style.display="block"; });
        </script>
    </head>
    <body>
        <header>
            {% include header.html %}
        </header>
        
        <main class="content-area">
            {{ content }}
        </main>

        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>